* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body,
#root {
height: 100%;
width: 100%;
}
html{
  background-color: rgb(27, 25, 25);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.notes{
  display: flex;
  gap: 1rem;
  padding-inline: 3rem;
  padding-block: 1rem;
}
.note{
  background-color: rgb(109, 105, 105);
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 20rem;
  color:white;
 
}
